*{
    box-sizing: border-box;
 }

body{
    margin:0;
}

.container{
    width: 100%;
}


.font-style{
    font-family: "Be VietNam Pro",  sans-serif;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
}

.font-style_1{
    font-family: "Lora",  sans-serif;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
}

header{
    padding: 20px 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 200px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 820px;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 120px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 80px 83px 80px 83px;
    height: 680px;

    background-color: #F1F1F1;
}

.content{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 585px;
    height: 267px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 585px;
    height: 520px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 83px;
}

.title{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 600px;
    height: 80px;
    margin-bottom: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.item{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 380px;
    height: 420px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section_3{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 80px 83px 80px 83px;
    height: 580px;

    background-color: #F1F1F1;
}

.item_list_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.item_1{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 216px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section_4{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 83px;
}

.item_2{
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    background-color: #E2E2E2;

    width: 277.5px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section_5{
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 72px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
